<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="content-security-policy" content="default-src 'self'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="This is a description of your page.">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <meta name="author" content="Your name">
    <meta name="robots" content="index,follow">
    <meta name="canonical" content="https://www.example.com/your-page">

    <title>Generador de QR Idear</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css?v=1">

</head>
<body>

    <section class="header">
        <div class="header-main">
            <div class="header-main--logo">
                <img src="/static/images/logo-idear.png" alt="log idear" width="80" />
            </div>
            <div class="header-main--menu">
                Servicios Tecnológicos Idear
            </div>
        </div>
    </section>

    <section class="main">
        <div class="main-section">
            <div class="main-section--info">
                <h2>Generador de C&oacute;digos QR</h2>
                <p>Idear est&aacute; comprometido con ayudar y brindar peque&ntilde;as herramientas &uacute;tiles para la comunidad es
                una de las formas de poder hacerlo</p>

            </div>
            <div class="main-section--form">
                <form action="generator/" method="POST" class="main-section--form-box" >
                    <label for="dataString" class="label-form">Texto a generar como QR: </label>
                    <input type="text" name="dataString" id="dataString" class="input-form" />
                    <input type="submit"  value="Generar" class="button-form">
                </form>
            </div>
        </div>
    </section>




    <script src="/static/js/main.js"></script>

</body>
</html>