<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="content-security-policy" content="default-src 'self'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Generador de QR Idear</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col font-sans bg-gray-100">
    <header class="bg-gray-800 text-white">
        <div class="container mx-auto flex items-center justify-between p-4">
            <img src="/static/images/logo-idear.png" alt="logo idear" class="w-20" />
            <span class="font-semibold text-sm">Servicios Tecnológicos Idear</span>
        </div>
    </header>

    <main class="flex-grow flex flex-col items-center justify-center p-4">
        <div class="text-center mb-6">
            <h2 class="text-3xl font-bold mb-2">Generador de C&oacute;digos QR</h2>
        </div>
        <form action="generator/" method="POST" class="bg-white shadow-md rounded p-6 w-full max-w-md" id="qrForm">
            <label for="dataString" class="block text-sm font-medium text-gray-700 mb-2">Texto a generar como QR:</label>
            <input type="text" name="dataString" id="dataString" class="w-full mb-4 p-2 border border-gray-300 rounded" />
            <input type="submit"  value="Generar" class="w-full bg-gray-800 text-white py-2 rounded hover:bg-gray-700 cursor-pointer">
        </form>

        <div id="modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
            <div class="bg-white p-6 rounded shadow-md text-center">
                <img id="qrImage" class="w-64 h-64 mx-auto" alt="QR Code" />
                <div class="mt-4 flex justify-center gap-4">
                    <a id="downloadBtn" href="#" download="qrcode.png" class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-700">Descargar</a>
                    <button id="closeBtn" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-400">Cerrar</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-gray-800 text-white py-4 text-center">
        All Rights Reserved to <a href="https://idear.pro" class="underline hover:text-gray-300">Idear</a>
    </footer>

    <script src="/static/js/main.js"></script>
</body>
</html>
